<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Govio</title>

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    {{ content | safe}}
</body>

</html>