<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
        <title>Wildgroei</title>
        <style>{% include "wildgroei.css" %}</style>
    </head>

    <body>
        <h1>Wildgroei</h1>

        <p>{{ content | safe}}</p>
    </body>
</html>